<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ehComplicado">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.ehComplicado.customApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MeuTheme">
        <activity android:name="com.example.ehComplicado.TelaRecuperarSenha"></activity>
        <activity android:name="com.example.ehComplicado.TelaCriarConta" />
        <activity android:name="com.example.ehComplicado.TelaRevisao" />

        <service android:name="com.example.ehComplicado.FirebaseMessageReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/oie_transparent" />

        <activity
            android:name="com.example.ehComplicado.TelaVermelhos"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaCartoes"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaGols"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaBuscar"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaSeguindo"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.example.ehComplicado.Tela" />
        <activity
            android:name="com.example.ehComplicado.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ehComplicado.TelaCadastroTime"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.ehComplicado.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaNovoCamp"
            android:parentActivityName="com.example.ehComplicado.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaCadastroJogador"
            android:parentActivityName="com.example.ehComplicado.TelaCadastroTime"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaQuatroGrupos"
            android:parentActivityName="com.example.ehComplicado.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaOitavas"
            android:parentActivityName="com.example.ehComplicado.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaQuartas"
            android:parentActivityName="com.example.ehComplicado.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaSemi"
            android:parentActivityName="com.example.ehComplicado.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaEditarCamp"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.ehComplicado.TelaCarregarCamp"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaAdicionarJogador"
            android:parentActivityName="com.example.ehComplicado.TelaEditarTime"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaEditarJogador"
            android:parentActivityName="com.example.ehComplicado.TelaEditarTime"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaEditarTime"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.ehComplicado.TelaEditarCamp"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaPendurados"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaSuspensos"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaFinal"
            android:parentActivityName="com.example.ehComplicado.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaArtilheiros"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaSumula"
            android:parentActivityName="com.example.ehComplicado.TelaJogos"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaNovaPartida"
            android:parentActivityName="com.example.ehComplicado.TelaJogos"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaJogos"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaPremios"
            android:parentActivityName="com.example.ehComplicado.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.ehComplicado.TelaCarregarCamp"
            android:parentActivityName="com.example.ehComplicado.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.example.ehComplicado.BaseActivity" />
    </application>

</manifest>